.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem var(--app-horizontal-spacings);
  background-color: var(--white);
  width: 100%;
  position: fixed;
  top: 0;
}

.navigation-links{
  display: flex;
  margin: 0;
  list-style: none;
}

.navigation-links li {
  padding: 0.5rem;
}

/* To allign with the App's spacings at the sides */
.navigation-links li:last-child, .navigation-links li:last-child a{
  padding-right: 0;
}

.navigation-links li a{
  color: inherit;
  text-decoration: none;
  padding: 0.5rem;
}

.navigation-links li a.selected{
  border-bottom: 1px solid black;
  padding-bottom: 0.3rem;
  pointer-events: none;
}

.navigation-links li a:not(.selected):hover{
  color: gray;
}