.pageMainView{
    display: flex;
    flex-direction: column;

    padding-top: 2rem;
    padding-bottom: 3.5rem;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    background-color: var(--white);

    /* Will take 100% of it's 70% parent which is in TwoSidedView */
    width: 100%;
    height: 100%;
}

.mainViewCardsList{
    display: flex;
    flex-direction: column;
}

.mainViewCard{
    display: flex;
    flex-direction: column;

    padding: 1.5rem;

    margin-bottom: 1.5rem;

    background-color: var(--light-gray);
}

.cardProperties{
    display: flex;
}

.cardProperty:not(:last-child){
    margin-right: 7rem;
}

@media all and (max-width: 700px){
   .cardProperties{
        flex-direction: column;
    }

    .cardProperty:not(:last-child){
        margin-right: 0;
    }

    .mainViewCard{
        text-align: center;
    }
}