.searchBarContainer{
    /* Total of spacings on the two sides, to let the Bar take full width */
    --app-width-spacings-summation: (var(--app-width-spacings) * 2);
    /* To let the Bar start at the most left of the page */
    --negative-app-width-spacings: calc(-1 * var(--app-width-spacings));

    height: 9rem;
    width: calc(100% + var(--app-width-spacings-summation));
    margin-left: var(--negative-app-width-spacings);
    background-color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.searchInput{
    width: 50%;
    height: 50%;
    padding: 1rem;
    border-radius: 5px;
    font-size: var(--large-font);
}

/* START: Autocompletion list */
.autoCompletionListContainer{
    display: contents;
}

.autocompletionList{
    position: absolute;
    top: 75%;

    overflow-y: scroll;
    height: auto;
    max-height: 300px;
    width: 50%;

    border: 2px solid black;
    border-right: none;
    border-top: none;
    border-radius: 5px;
    box-shadow: 3;

    display: flex;
    flex-direction: column;

    font-size: var(--large-font);
    
    background-color: var(--light-gray);
}

.autocompletionList a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.autocompletionList a:hover{
    background-color: #f3f3f3;
}

.autocompletionList a:last-child{
    border-bottom: none;
}
/* END: Autocompletion list */












.inputContainer i {
    position: absolute;
 }
 .inputContainer {
    width: 100%;
    margin-bottom: 10px;
 }
 .icon {
    padding: 15px;
    color: rgb(49, 0, 128);
    width: 70px;
    text-align: left;
 }
 .inputField {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
 }