.searchBarContainer{
    /* Total of spacings on the two sides, to let the Bar take full width */
    --app-width-spacings-summation: (var(--app-width-spacings) * 2);
    /* To let the Bar start at the most left of the page */
    --negative-app-width-spacings: calc(-1 * var(--app-width-spacings));

    height: 9rem;
    width: calc(100% + var(--app-width-spacings-summation));
    margin-left: var(--negative-app-width-spacings);
    background-color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.searchInput{
    width: 50%;
    height: 50%;
    padding: 1rem;
    border-radius: 5px;
    font-size: var(--large-font);
}

.autocompleteList{
    position: absolute;
    top: 75%;
    padding: 1rem;

    overflow-y: scroll;
    height: 200px;
    width: 50%;

    font-size: var(--large-font);
    
    background-color: var(--darker-gray);
}