.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0.5rem;
}

.navigation-links{
  display: flex;
  margin: 0;
  list-style: none;
}

.navigation-links li {
  padding: 0.5rem;
}

.navigation-links li a{
  color: inherit;
  text-decoration: none;
  padding: 0.5rem;
}

.navigation-links li a.selected{
  border-bottom: 1px solid black;
  padding-bottom: 0.3rem;
  pointer-events: none;
}

.navigation-links li a:not(.selected):hover{
  color: gray;
}

.logo{
  font-weight: 700;
}