.descriptionTitle{
    margin-bottom: 1.5rem;
}

.descriptionParagraph{
    margin-bottom: 3rem;
    width: 80%;
}

.relatedJobsTitle{
    margin-bottom: 2.8rem;
}

/* Mobile View */
@media all and (max-width: 700px){
    .descriptionParagraph{
        width: 100%;
    }
}