.mainContainer{
    margin-left: var(--app-horizontal-spacings);
    margin-right: var(--app-horizontal-spacings);
    margin-top: 3.9rem;
    margin-bottom: 176px;
}

.mainContainerContent{
    display: flex;
    flex-direction: column;
}