.mainContainer{
    margin-left: var(--app-width-spacings);
    margin-right: var(--app-width-spacings);
    margin-top: 5rem;
    margin-bottom: 176px;
}

.mainContainerContent{
    display: flex;
    flex-direction: column;
}