.mainContainer{
    margin-left: var(--app-width-spacings);
    margin-right: var(--app-width-spacings);
    margin-top: 5rem;
    margin-bottom: 176px;
}

.mainContainerTitle{
    margin-bottom: 3rem;
}

.mainContainerContent{
    display: flex;
    justify-content: space-between;
}