.jobsListContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.infinite-scroll-component{
    height: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.infinite-scroll-component__outerdiv{
    display: contents;
}