.jobsListContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.infinite-scroll-component{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

.infinite-scroll-component__outerdiv{
    display: contents;
}