
.jobCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    min-height: 16rem;
    width: 49%;
    background-color: var(--white);

    margin-bottom: 2rem;

    padding-top: 1.5rem;
    padding-bottom: 23px;
    padding-left: 36px;
    padding-right: 36px;
}

.jobCardTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85%;
}

.requiredSkillsSection{
    margin-top: 30px;
    margin-bottom: 30px;
}

.skillsBadgesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    max-height: 4.5rem;

    margin-top: 10px;
}

.skillBadge{
    padding: 3px;
    margin: 3px;
    background-color: var(--darker-gray);
    width: fit-content;
    font-size: var(--medium-font);
}

.skillBadgeLink{
    text-decoration: none;
    color: inherit;
}

@media all and (max-width: 900px){
    .jobCard{
        width: fit-content;
        align-items: center;
    }
    .requiredSkillsSection{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .skillsBadgesContainer{
        flex-direction: column;
        flex-wrap: inherit;
        align-items: center;
    }
}
